function Extensions.computefFovRad 6
push constant 1
push constant 2
call Fraction.new 2
pop local 4
push argument 0
push local 4
call Fraction.mult 2
pop local 1
call MathTrigonometry.getPI 0
pop local 3
push local 3
push constant 180
call Fraction.multInt 2
pop local 2
push local 1
push local 2
call Fraction.div 2
pop local 5
push local 5
call MathTrigonometry.tan 1
pop local 0
push local 0
call Fraction.reverse 1
return
function Extensions.mod 0
push argument 0
push argument 0
push argument 1
call Math.divide 2
sub
return
