function MathTrigonometry.sin 4
push argument 0
push argument 0
call Fraction.mult 2
pop local 0
push local 0
push argument 0
call Fraction.mult 2
pop local 1
push constant 1
push constant 6
call Fraction.new 2
pop local 3
push local 1
push local 3
call Fraction.mult 2
pop local 2
push argument 0
push local 2
call Fraction.sub 2
return
function MathTrigonometry.cos 4
push argument 0
push argument 0
call Fraction.mult 2
pop local 0
push constant 1
push constant 2
call Fraction.new 2
pop local 2
push local 0
push local 2
call Fraction.mult 2
pop local 1
push constant 1
push constant 1
call Fraction.new 2
pop local 3
push local 3
push local 1
call Fraction.sub 2
return
