function PointVector3D.default 0
push constant 0
push constant 0
push constant 0
call PointVector3D.new 3
return
function PointVector3D.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push pointer 0
return
function PointVector3D.getXcoord 0
push argument 0
pop pointer 0
push this 0
return
function PointVector3D.getYcoord 0
push argument 0
pop pointer 0
push this 1
return
function PointVector3D.getZcoord 0
push argument 0
pop pointer 0
push this 2
return
function PointVector3D.getLength 3
push argument 0
pop pointer 0
push this 0
push this 0
call Fraction.mult 2
pop local 0
push this 1
push this 1
call Fraction.mult 2
pop local 1
push local 0
push local 1
call Fraction.add 2
pop local 2
push local 0
call Fraction.dispose 1
pop temp 0
push local 1
call Fraction.dispose 1
pop temp 0
push this 2
push this 2
call Fraction.mult 2
pop local 0
push local 2
push local 0
call Fraction.add 2
pop local 1
push local 0
call Fraction.dispose 1
pop temp 0
push local 2
call Fraction.dispose 1
pop temp 0
push local 1
call Fraction.sqrt 1
pop local 0
push local 1
call Fraction.dispose 1
pop temp 0
push local 0
return
function PointVector3D.vectorAdd 0
push argument 0
pop pointer 0
push this 0
push argument 1
call PointVector3D.getXcoord 1
call Fraction.add 2
push this 1
push argument 1
call PointVector3D.getYcoord 1
call Fraction.add 2
push this 2
push argument 1
call PointVector3D.getZcoord 1
call Fraction.add 2
call PointVector3D.new 3
return
function PointVector3D.vectorSub 0
push argument 0
pop pointer 0
push this 0
push argument 1
call PointVector3D.getXcoord 1
call Fraction.sub 2
push this 1
push argument 1
call PointVector3D.getYcoord 1
call Fraction.sub 2
push this 2
push argument 1
call PointVector3D.getZcoord 1
call Fraction.sub 2
call PointVector3D.new 3
return
function PointVector3D.fracMult 0
push argument 0
pop pointer 0
push this 0
push argument 1
call Fraction.mult 2
push this 1
push argument 1
call Fraction.mult 2
push this 2
push argument 1
call Fraction.mult 2
call PointVector3D.new 3
return
function PointVector3D.dotProduct 3
push argument 0
pop pointer 0
push this 0
push argument 1
call PointVector3D.getXcoord 1
call Fraction.mult 2
pop local 0
push this 1
push argument 1
call PointVector3D.getYcoord 1
call Fraction.mult 2
pop local 1
push local 0
pop local 2
push local 2
push local 1
call Fraction.add 2
pop local 0
push local 1
call Fraction.dispose 1
pop temp 0
push local 2
call Fraction.dispose 1
pop temp 0
push this 2
push argument 1
call PointVector3D.getZcoord 1
call Fraction.mult 2
pop local 1
push local 0
pop local 2
push local 2
push local 1
call Fraction.add 2
pop local 0
push local 1
call Fraction.dispose 1
pop temp 0
push local 2
call Fraction.dispose 1
pop temp 0
push local 0
return
function PointVector3D.crossProduct 5
push argument 0
pop pointer 0
push this 1
push argument 1
call PointVector3D.getZcoord 1
call Fraction.mult 2
pop local 3
push this 2
push argument 1
call PointVector3D.getYcoord 1
call Fraction.mult 2
pop local 4
push local 3
push local 4
call Fraction.sub 2
pop local 0
push local 3
call Fraction.dispose 1
pop temp 0
push local 4
call Fraction.dispose 1
pop temp 0
push this 2
push argument 1
call PointVector3D.getXcoord 1
call Fraction.mult 2
pop local 3
push this 0
push argument 1
call PointVector3D.getZcoord 1
call Fraction.mult 2
pop local 4
push local 3
push local 4
call Fraction.sub 2
pop local 1
push local 3
call Fraction.dispose 1
pop temp 0
push local 4
call Fraction.dispose 1
pop temp 0
push this 0
push argument 1
call PointVector3D.getYcoord 1
call Fraction.mult 2
pop local 3
push this 1
push argument 1
call PointVector3D.getXcoord 1
call Fraction.mult 2
pop local 4
push local 3
push local 4
call Fraction.sub 2
pop local 2
push local 3
call Fraction.dispose 1
pop temp 0
push local 4
call Fraction.dispose 1
pop temp 0
push local 0
push local 1
push local 2
call PointVector3D.new 3
return
function PointVector3D.getDistanceTo 2
push argument 0
pop pointer 0
push this 0
push argument 1
call PointVector3D.getXcoord 1
call Fraction.sub 2
pop local 1
push local 1
push local 1
call Fraction.mult 2
pop local 0
push local 1
call Fraction.dispose 1
pop temp 0
push this 1
push argument 1
call PointVector3D.getYcoord 1
call Fraction.sub 2
pop local 1
push local 0
push local 1
push local 1
call Fraction.mult 2
call Fraction.add 2
pop local 0
push local 1
call Fraction.dispose 1
pop temp 0
push this 2
push argument 1
call PointVector3D.getZcoord 1
call Fraction.sub 2
pop local 1
push local 0
push local 1
push local 1
call Fraction.mult 2
call Fraction.add 2
pop local 0
push local 1
call Fraction.dispose 1
pop temp 0
push local 0
call Fraction.sqrt 1
return
function PointVector3D.addToX 1
push argument 0
pop pointer 0
push this 0
pop local 0
push local 0
push argument 1
call Fraction.addInt 2
pop local 0
push local 0
push this 1
push this 2
call PointVector3D.new 3
return
function PointVector3D.addToY 1
push argument 0
pop pointer 0
push this 1
pop local 0
push local 0
push argument 1
call Fraction.addInt 2
pop local 0
push this 0
push local 0
push this 2
call PointVector3D.new 3
return
function PointVector3D.addToZ 1
push argument 0
pop pointer 0
push this 2
pop local 0
push local 0
push argument 1
call Fraction.addInt 2
pop local 0
push this 0
push this 1
push local 0
call PointVector3D.new 3
return
function PointVector3D.multX 1
push argument 0
pop pointer 0
push this 0
push argument 1
call Fraction.multInt 2
pop local 0
push local 0
push this 1
push this 2
call PointVector3D.new 3
return
function PointVector3D.multY 1
push argument 0
pop pointer 0
push this 1
push argument 1
call Fraction.multInt 2
pop local 0
push this 0
push local 0
push this 2
call PointVector3D.new 3
return
function PointVector3D.multZ 1
push argument 0
pop pointer 0
push this 2
push argument 1
call Fraction.multInt 2
pop local 0
push this 0
push this 1
push local 0
call PointVector3D.new 3
return
function PointVector3D.print 0
push argument 0
pop pointer 0
push constant 1
call String.new 1
push constant 40
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 0
call Fraction.print 1
pop temp 0
push constant 1
call String.new 1
push constant 44
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 1
call Fraction.print 1
pop temp 0
push constant 1
call String.new 1
push constant 44
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 1
call String.new 1
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 2
call Fraction.print 1
pop temp 0
push constant 1
call String.new 1
push constant 41
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
function PointVector3D.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
