function PointVector3D.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push pointer 0
return
function PointVector3D._getXcoord 0
push argument 0
pop pointer 0
push this 0
return
function PointVector3D._getYcoord 0
push argument 0
pop pointer 0
push this 1
return
function PointVector3D._getZcoord 0
push argument 0
pop pointer 0
push this 2
return
function PointVector3D.vectorAdd 0
push argument 0
pop pointer 0
push this 0
push argument 1
call PointVector3D._getXcoord 1
call Fraction.add 2
push this 1
push argument 1
call PointVector3D._getYcoord 1
call Fraction.add 2
push this 2
push argument 1
call PointVector3D._getZcoord 1
call Fraction.add 2
call PointVector3D.new 3
return
function PointVector3D.vectorSub 0
push argument 0
pop pointer 0
push this 0
push argument 1
call PointVector3D._getXcoord 1
call Fraction.sub 2
push this 1
push argument 1
call PointVector3D._getYcoord 1
call Fraction.sub 2
push this 2
push argument 1
call PointVector3D._getZcoord 1
call Fraction.sub 2
call PointVector3D.new 3
return
function PointVector3D.getDistanceTo 1
push argument 0
pop pointer 0
push local 0
return
function PointVector3D.Dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
