function Main.main 26
push constant 22
push constant 7
call Fraction.new 2
pop local 0
push local 0
push constant 1
push constant 2
call Fraction.new 2
call Fraction.mult 2
pop local 1
push local 0
push constant 1
push constant 3
call Fraction.new 2
call Fraction.mult 2
pop local 2
push local 0
push constant 1
push constant 4
call Fraction.new 2
call Fraction.mult 2
pop local 3
push local 0
push constant 1
push constant 5
call Fraction.new 2
call Fraction.mult 2
pop local 4
push local 0
push constant 1
push constant 6
call Fraction.new 2
call Fraction.mult 2
pop local 5
push local 0
call MathTrigonometry.sin 1
pop local 6
push local 0
call MathTrigonometry.cos 1
pop local 7
push local 6
call Fraction.print 1
pop temp 0
push constant 3
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push local 7
call Fraction.print 1
pop temp 0
call f.dispose 0
pop temp 0
push constant 0
return
function Main.printFraction 0
push argument 0
call Output.printString 1
pop temp 0
push constant 2
call String.new 1
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push argument 1
call Fraction.print 1
pop temp 0
push constant 1
call String.new 1
push constant 10
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
